.button{
    top: 40%;
    background: #000000;
	color: #ffffff;
	font-size: 18px;
	padding: 20px;
	border-radius: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: sans-serif;

}
.container{
      height: 1025px;
      position: relative;
     
}
.cont{
    background-image: url('bgpic.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.h1{
    text-align: center;
    font-family: sans-serif;
    text-align: center;
    color: black;
    background-color: #3d3a3a00;
    
}